'.text.html':
  'Angular Carousel JS snippet':
    'prefix': 'angularcarouselcdn'
    'body': '<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-carousel/0.3.13/angular-carousel.min.js"></script>'
