'.text.html':
  'Bootstrap JS confirmation snippet':
    'prefix': 'confirmation-bootstrap'
    'body': '<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js"></script>'
