'.text.html':
  'Bootstrap JS date-timepicker snippet':
    'prefix': 'datetimepicker-bootstrap'
    'body': '<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>'
