'.text.html':
  'Bootstrap Color Picker JS snippet':
    'prefix': 'bootstrapcolorpickercdn'
    'body': '<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/js/bootstrap-colorpicker.min.js"></script>'
