'.text.html':
  'Bootstrap snippet':
    'prefix': 'bootcdn'
    'body': '<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">'
