'.text.html':
  'Jquery mobile css snippet':
    'prefix': 'jquerymobilecssCdn'
    'body': '<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">'
